*{
    margin: 0;
    padding: 0;

}
header {
    background-color: #a30000;
    color: white;
}

.cabecalho {
    background-color: #a30000;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}



.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}